<h2 mat-dialog-title>Create new folder</h2>

<mat-dialog-content [formGroup]="form"> 
    <mat-form-field>
        <label>Folder name:</label>
        <input matInput placeholder="Folder name" formControlName="FolderName">
    </mat-form-field>
    <br>
    <mat-form-field style="display: none;">
        <input matInput formControlName="UserID">
    </mat-form-field>          
</mat-dialog-content>

<mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()"> Close </button>
        <button class="mat-raised-button mat-primary" (click)="save()"> Save </button>
</mat-dialog-actions>