<h1>List of folders</h1>

<p *ngIf="!folderContents"><em>Loading...</em></p>

<table class='table' *ngIf="folderContents">
  <thead>
    <tr>
      <th>#</th>
      <th>Folder name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let folder of subfolders">
      <td>{{ folderContents.userID }}</td>
      <td (click)="getConentsOfFolder(folder)">{{ folderContents.subfolders[folder] }}</td>
    </tr>
    <tr *ngFor="let file of files">
      <td>{{ folderContents.userID }}</td>
      <td>{{ folderContents.files[file] }}</td>
    </tr>
  </tbody>
</table>