@model FileUpload

<form asp-action="UploadFileForm" method="POST" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <p>
        <input asp-for="UserID" value="2" hidden>
    </p>
    <p>
        <input asp-for="isUserInputName" type="checkbox" id="showFileNameInput" off>
    </p>
    <p id="toggleShow" hidden>
        <label>File name: </label>
        <input asp-for="FileName" placeholder="Name of the file"/>
    </p>
    <p>
        <label>File: </label>
        <input asp-for="File" type="file"/>
    </p>
    
    <button type="submit">Upload the file</button>
</form>

<script>
    $(document).ready(function () {


            $('#showFileNameInput').change(function() {
                $('#toggleShow').toggle($(this).is(':checked'));
            });


    });
</script>