<mat-list class="list">
  <h3 mat-subheader class="title">{{dateFormat()}}</h3>
  <div *ngFor="let task of tasks">
    <div class="task-wrapper">
      <h4 mat-line>{{task.name}}</h4>
      <p mat-line> {{task.time}} </p>

      <div class="wrapper">
        <div *ngIf="task.public">
          <div class="going">
            <mat-checkbox [(ngModel)]="going">Going</mat-checkbox>
            <button class="add-button-going" mat-button mat-raised-button (click)="registerInterest(task)">Save</button>
          </div>
        </div>
        <div class="user-title">People going</div>
        <div *ngFor="let taskUser of taskUsers[task.taskID]">
          <div mat-line class="user-data">{{taskUser.user.firstName}} {{taskUser.user.lastName}}</div>
        </div>
      </div>
    </div>
  </div>

  <h3 mat-subheader class="title">Files for the day</h3>
  <mat-list-item *ngFor="let file of taskFiles">
    <mat-icon mat-list-icon>library_books</mat-icon>
    <h4 mat-line>{{file}}</h4>
    <p mat-line>
      <button class="mat-icon-button mat-primary" mat-icon-button (click)="downloadFile(file)"><i
        class="material-icons">get_app</i></button>
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>
    <button class="add-button" mat-button mat-raised-button (click)="addNewTaskDialogOpen()">Add new task</button>
  </h3>
</mat-list>
