.title {
  font-weight: bold;
  margin-bottom: 20px;
}

.task-data {
  display: flex;
  justify-content: space-between;
}

.add-button {
  margin-top: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.list {
  min-height: 300px;
  width: 200px;
  .task-wrapper {
    flex-direction: column;

    .going {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    .user-title {
      margin-top: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      .user-data {
        text-transform: capitalize;
      }
    }
  }

}
