<div class="add-task-dialog">
  <div>Add new task</div>
  <form [formGroup]="form" class="form">
    <mat-form-field>
      <input matInput type="text" placeholder="name" formControlName="name">
    </mat-form-field>
    <mat-form-field >
      <input matInput [matDatepicker]="date" placeholder="date" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="time" formControlName="time">
    </mat-form-field>

    <mat-checkbox formControlName="public">Is public</mat-checkbox>

    <button  mat-raised-button color="accent" (click)="openFileUploadDialog()">Add file</button>
    <button  mat-raised-button color="primary" (click)="submitTask()">Add new task</button>
  </form>
</div>
