<style>
    .visible {
        display: block;
    }
    .invisible {
        display: none;
    }
</style>

<mat-card class="monitor-card">

    <mat-card-header>
        <mat-card-title>Link monitor</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <mat-card-actions>
           <button (click)="openAddLinkDialog()" class="mat-raised-button mat-primary"> Add a new link to monitor!</button>
        </mat-card-actions>

        <div *ngIf="changesPerLink">
            <div *ngFor="let link of objectKeys(changesPerLink)">
                <a href="{{link}}" class="mat-stroked-button mat-warn" *ngIf="isClicked(link) == false">{{link}}</a> 
                <a href="{{link}}" class="mat-stroked-button mat-primary" *ngIf="isClicked(link) == true">{{link}}</a>
                <i (click)="checkOffNotification(link)" class="material-icons" title="dismiss" *ngIf="isClicked(link) == false">notification_important</i>

                <div [ngClass]="!isClicked(link)? 'visible': 'invisible'">
                    <p>Novo na stranici!</p><br>
                    <div *ngFor="let change of getValues(changesPerLink, link)">
                        <div [innerHtml]="change"></div>
                    </div>
                </div>
            </div>
        </div>

    </mat-card-content>

</mat-card>