<style>
    .visible {
        display: block;
    }
    .invisible {
        display: none;
    }
</style>


<button (click)="openAddLinkDialog()"> Add a new link to monitor!</button>

<p>https://www.jasamlinkcao.com</p><i (click)="checkOffNotification()" class="material-icons" title="dismiss" *ngIf="notificationClicked == false">notification_important</i>

<!-- <button (click)="writeDate()">click</button> -->
<br>
<div [ngClass]="additions?.length > 0? 'visible': 'invisible'">
    <p>Novo na stranici!</p><br>
    <div #additionsDiv></div>
</div>

